[submodule "5 фп/lab1"]
	path = 5 фп/lab1
	url = https://github.com/mariks1/haskell-projecteuler-15-16
[submodule "5 фп/lab2"]
	path = 5 фп/lab2
	url = https://github.com/mariks1/haskell-rbtree-dict
[submodule "5 фп/lab3"]
	path = 5 фп/lab3
	url = https://github.com/mariks1/haskell_interpolation
[submodule "5 фп/haskell-parser"]
	path = 5 фп/haskell-parser
	url = https://github.com/mariks1/haskell-parser/
